#vt100 {
  font-family: "Helvetica Neue", "Myriad Pro", arial, Verdana, Verdana, sans-serif;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);  
  font-size: 11px;
}

#vt100 div{
  margin-left: 5px;
}

#vt100 #cursor {
  width: 5px !important;
  height: 11px !important;
  margin-top: 1px !important;
}

#vt100 #cursor.bright {
  background-color: #e6e6e6 !important;
  color: #474747;
}

#vt100 #scrollable {
  color: #e6e6e6;
  background-color: black;
}

#vt100 #scrollable.inverted {
  color: black;
  background-color: #e6e6e6;
}

#vt100 .bgAnsi0 {
  background-color: #ffffff;
}

#vt100 #reconnect input {
  padding: 4px !important;
  color: #474747 !important;
  font-size: 14px !important;
}

body {
  background-color: black;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-thumb {
    min-height: 28px;
    padding-top: 100px;
    background-clip: padding-box;
    background-color: rgba(178, 178, 178, 0.2);
    -webkit-box-shadow: inset 1px 1px 0 rgba(178, 178, 178, 0.1), inset 0 -1px 0 rgba(178, 178, 178, 0.07);
}

::-webkit-scrollbar-button {
    height: 0;
    width: 0;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}
