#vt100 {
  font-family: "Helvetica Neue", "Myriad Pro", arial, Verdana, Verdana, sans-serif;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);  
  font-size: 11px;
}

#vt100 div{
  margin-left: 5px;
}

#vt100 #cursor {
  width: 5px !important;
  height: 11px !important;
  margin-top: 1px !important;
}

#vt100 #cursor.bright {
  background-color: #e6e6e6 !important;
  color: #474747;
}

#vt100 #scrollable {
  color: #e6e6e6;
  background-color: #474747;
}

#vt100 #scrollable.inverted {
  color: #474747;
  background-color: #e6e6e6;
}

#vt100 .bgAnsi0 {
  background-color: #ffffff;
}

#vt100 #reconnect input {
  padding: 4px !important;
  color: #474747 !important;
  font-size: 14px !important;
}
